{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>
<link rel="stylesheet" href="/assets/css/custom.css">

<!-- Social sharing metadata -->
<meta property="og:type" content="website">
<meta property="og:site_name" content="Andrei Guter-Sandu">
<meta property="og:title" content="Andrei Guter-Sandu">
<meta property="og:description"
      content="Assistant Professor of International Political Economy at the University of Bath. Research on the political economy of large-scale transformations, energy systems, monetary theory, state capacity.">
<meta property="og:url" content="https://agutersandu.com/">
<meta property="og:image" content="https://agutersandu.com/images/profile.png">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Andrei Guter-Sandu">
<meta name="twitter:description"
      content="Assistant Professor of International Political Economy at the University of Bath. Research on the political economy of large-scale transformations, energy systems, monetary theory, state capacity.">
<meta name="twitter:image" content="https://agutersandu.com/images/profile.png">

<!-- end custom head snippets -->

<script src="{{ '/assets/js/mobile-contact.js' | relative_url }}"></script>
